html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    color: #f0ffcc;
    text-shadow: 2px 2px 3px #44aa22;
    margin: 0 0 5px 0;
}

#appCanvas {
    background-color: #66aa55;
}