html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    color: #f0ffcc;
    text-shadow: 2px 2px 3px #44aa22;
    margin: 0 0 5px 0;
}

#appCanvas {
    background-color: #66aa55;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.buttons > div {
    padding: 0 20px;
}
.buttons button {
    width: 60px;
    height: 60px;
    font-size: 20pt;
    background-color: #002244;
    border: solid 2px #0066aa;
    border-radius: 5px;
}
.buttons button:hover {
    border-color: #77aaff;
}
.buttons button.active {
    background-color: #0066aa;
}
.buttons button:disabled {
    filter: grayscale();
}